/* Deaktiviert die Textauswahl auf der gesamten Seite */
body {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.a {
  text-decoration: none;
}

.floating-btn {
  position: fixed;
  bottom: 30px; /* Abstand vom unteren Rand */
  left: 50%; /* Zentriert horizontal */
  transform: translateX(-50%); /* Verschiebt den Button horizontal um die Hälfte seiner Breite, um ihn wirklich zu zentrieren */
  z-index: 1000; /* Damit der Button immer oben bleibt */
  width: 60px; /* Höhe und Breite des Buttons */
  height: 60px;
  border-radius: 50%; /* Runde Form */
  padding: 0; /* Kein Innenabstand, damit der Button komplett rund bleibt */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Größe des Pluszeichens im Button */
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1); /* Schatten für den Button */
}